
$primaryFont : 'Source Sans Pro', sans-serif;
$secondaryFont : 'Roboto', sans-serif;

$breakpoint: 640px;

$containerColor: #0a9396;
$tabBarColor: #94d2bd;
$spinnerColor: #092423;
$cardInfoColor: #e8f2ee;

$badgeColor: #2b697a;
$badgeTextColor: #F5F5F5;

$authorBadgeColor: #cce3da;
$authorTextColor: #264653;

$karmaBadgeColor: #c7d7e4;
$karmaTextColor: #264653;

$articleBackgroundColor: #e9eef2;
